/* GENEREL */

* {
  box-sizing: border-box;
}

:root {
  // --background: #e7e2d9;
  --background: #eeeae3;
  // --main-text-color: #423116;
  --main-text-color: #151109;
  --light-text-color: #756e61;

  --dark-green: #01472c;
  // --main-green: #056343;
  --main-green: #066f4c;
  --pop-color: #c7234e;

  --site-width: 95%;
  --site-max-width: 1800px;
  --mobile-breakpoint: 900px;

  --font-normal: "Barlow", system-ui, -apple-system, sans-serif;
  --font-condensed: "Barlow Condensed", system-ui, -apple-system, sans-serif;
  --font-fancy: "Anderlacht", system-ui, -apple-system, sans-serif;

  --standard-transition: all 0.1s cubic-bezier(0.2, 0.65, 0.6, 1);
  --blob-svg: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjM4IiBoZWlnaHQ9IjIxOSIgdmlld0JveD0iMCAwIDIzOCAyMTkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNDcuNDM3MSAyMDguNTk2QzExLjEzOTYgMTk4LjgwMSAtOC44NjIwMSAxNjAuNTIyIDMuODIwMTEgMTI1LjEzQzE4LjU3OTEgODMuOTQyMSA0Mi44Njc0IDQ3LjI5MDcgNzQuMDI3OCAxNy44MzMxQzk5LjE3OTkgLTUuOTQ0MzkgMTM4LjI2NCAtNS45NDQzOCAxNjMuNDE2IDE3LjgzMzJDMTk0LjY5NCA0Ny40MDIxIDIxOS4wNDggODQuMjE5NCAyMzMuNzkxIDEyNS41OThDMjQ2LjQ0IDE2MS4xMDEgMjI2LjIzIDE5OS40MTUgMTg5Ljc4NSAyMDkuMDE2QzE2Ny4zMTcgMjE0LjkzNSAxNDMuNzI3IDIxOC4wODggMTE5LjQgMjE4LjA4OEM5NC41MDI5IDIxOC4wODggNzAuMzc3MyAyMTQuNzg2IDQ3LjQzNzEgMjA4LjU5NloiIGZpbGw9IiM3Mzk3MkQiLz4KPC9zdmc+Cg==);
}

html {
  height: 100%;
  margin: 0 !important;
}

body {
  position: absolute;
  min-width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0 auto;
  font-family: "Barlow", system-ui, -apple-system, sans-serif;
  font-family: var(--font-normal);
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.4;
  color: var(--main-text-color);
  text-wrap: pretty;
  background-color: var(--background);
}

.site-wrapper {
  position: relative;
  width: calc(var(--site-width) - 48px);
  max-width: calc(var(--site-max-width) - 48px);
  padding: 0px;
  margin: 0 auto;
}

.site-content {
  margin-top: 120px;
}

img {
  max-width: 100%;
  height: auto;
}

.foto-kredit {
  font-size: 1rem;
  text-align: center;
  color: var(--light-text-color);
}

a,
a:visited {
  transition: var(--standard-transition);
  color: var(--main-green);

  @media (hover: hover) {
    &:hover {
      color: var(--dark-green);
      text-decoration: underline;
    }
  }
}

// BUTTONS
.btn-primary,
a.btn-primary,
.wp-block-button__link:not(.has-background),
.hentry
  .entry-content
  .wp-block-button
  .wp-block-button__link:not(.has-background) {
  font-family: var(--font-condensed);
  font-weight: normal;
  display: inline-block;
  padding: 8px 24px;
  background-color: var(--pop-color);
  color: #fff;
  border-radius: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  transition: var(--standard-transition);

  @media (hover: hover) {
    &:hover {
      color: #fff;
      background-color: #7f1632;
      text-decoration: none;
    }
  }

  &:active {
    transform: scale(0.95);
  }
}

.btn-secondary,
a.btn-secondary,
.wp-block-button.is-style-outline .wp-block-button__link,
.hentry
  .entry-content
  .wp-block-button.is-style-outline
  .wp-block-button__link {
  font-family: var(--font-condensed);
  display: inline-block;
  padding: 8px 24px;
  background-color: transparent;
  border: 1px solid var(--dark-green);
  color: var(--dark-green);
  border-radius: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  transition: var(--standard-transition);

  @media (hover: hover) {
    &:hover {
      background-color: var(--dark-green);
      color: #fff;
      text-decoration: none;
      border: 1px solid var(--dark-green);
    }
  }

  &:active {
    transform: scale(0.95);
  }
}

.wp-block-button.is-style-outline {
  color: var(--dark-green);
}

.btn-tertiary,
a.btn-tertiary {
  display: inline-block;
  padding: 6px 16px;
  color: var(--main-text-color);
  border-radius: 32px;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 1.5rem;
  transition: var(--standard-transition);

  @media (hover: hover) {
    &:hover {
      opacity: 0.6;
      text-decoration: none;
    }
  }

  &:active {
    transform: scale(0.98);
  }
}

@media only screen and (max-width: 900px) {
  .btn-primary,
  a.btn-primary,
  .wp-block-button__link:not(.has-background),
  .hentry
    .entry-content
    .wp-block-button
    .wp-block-button__link:not(.has-background) {
    padding: 4px 16px;
    letter-spacing: 1px;
    font-size: 1.25rem;
  }
}

// Standard pages
article.page.type-page {
  padding: 120px 0 0;
  max-width: 800px;
  margin: 0 auto;

  .entry-title {
    text-align: center;
    font-family: var(--font-fancy);
    font-size: 3rem;
    color: var(--main-green);
    letter-spacing: 1px;
  }

  h2 {
    margin-top: 60px;
  }

  .edit-link {
    margin-top: 80px;
  }
}

@media only screen and (max-width: 900px) {
  article.page.type-page {
    padding: 60px 0 0;

    .entry-title {
      text-align: center;
      font-family: var(--font-fancy);
      font-size: 2rem;
      color: var(--main-green);
    }

    h2 {
      margin-top: 60px;
    }

    .edit-link {
      margin-top: 80px;
    }
  }
}

// Standard tables
.wp-block-table thead {
  border: none;

  th {
    // font-size: 1rem;
    text-align: left;
    font-family: var(--font-condensed);
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.75px;
  }
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.02);
}
