.map {
  position: relative;

  .location {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 8px;

    @media (hover: hover) {
      &:hover {
        .location-marker {
          opacity: 1;
        }

        p {
          color: var(--main-green);
          transform: translateX(4px) scale(1.05);
        }
      }
    }

    .location-marker {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5vw;
      max-width: 78px;
      aspect-ratio: 1 / 1;
      background-color: var(--main-green);
      mask-image: var(--blob-svg);
      mask-size: 100%;
      mask-repeat: no-repeat;
      mask-position: center;
      transition: var(--standard-transition);
      opacity: 0.85;

      &.background {
        position: absolute;
        opacity: 0.4;
        z-index: 0;
        transform: scale(1.2);

        animation: ScaleUpDown 3s cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
      }

      svg {
        width: 60%;
        transition: var(--standard-transition);
      }
    }

    p {
      font-family: var(--font-fancy);
      color: var(--main-text-color);
      margin: 0px;
      transition: var(--standard-transition);
    }

    &.alderslyst {
      top: 34%;
      left: 48%;
    }

    &.funder {
      top: 54%;
      left: 18%;
    }

    &.goedvad {
      top: 27%;
      left: 77%;
    }

    &.virklund {
      top: 80%;
      left: 62%;
    }
  }
}

@keyframes ScaleUpDown {
  0%,
  100% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.3);
  }
}
