// --- PATTERN: DETAILS
.wp-block-details {
  transform: translateX(-16px);
  transition: background-color 0.1s ease-out;
  border-radius: 8px;
  margin-bottom: 16px;

  p{
    padding: 0px 16px 16px;
    margin: 8px 0 0;
  }
}

.wp-block-details > summary {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-weight: 400;
  padding: 8px 16px;

  border-radius: 8px;
  cursor: pointer;
  
  @media (hover: hover) {
    &:hover {
      font-weight: 600;
      background-color: #fff;
    }
  }
}

.wp-block-details{
  @media (hover: hover) {
    &:hover {
      background-color: #fff;
    }
  }
}

.wp-block-details > summary::-webkit-details-marker {
  display: none;
}

.wp-block-details > summary::after {
  margin-left: 1ch;
  display: inline-block;
  content: "+";
}

.wp-block-details[open] {
  background-color: #fff;
}

.wp-block-details[open] > summary {
  font-weight: 600;
}

.wp-block-details[open] > summary::after {
  content: "-";
}

